<header class="header-container">
    <div>
        <img src="/images/tourism.png" alt=" Tourism">
    </div>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            {{#unless user}}
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/register">New User</a></li>
            {{/unless}}
            {{#if user}}
                <li><a href="/location/add">Add new Location</a></li>
                {{#if user.isAdmin}}
                    <li><a href="/location/validate">Validate Locations</a></li>
                {{/if}}
                <li><a href="/user/logout">Log Out</a></li>
            {{/if}}
        </ul>
    </div>
</header>

{{#if message}}
<h4 class="text-center text-danger">{{message}}</h4>
{{/if}}
