<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tourism App</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/app.css" rel="stylesheet" type="text/css" >
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="/scripts/script.js"></script></head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <nav>
        <a href="/">Home</a>
        {{#if user}} 
            <a href="/logout">Logout</a>
        {{else}}
            <a href="/login">Login</a>
        {{/if}}
    </nav>
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>